<head></head>
<!-- Pass in data from server.js -->
{{!-- <ul>
  {{#each quotes}}
  <li>
    <p><span class="label">ID:</span> {{this.id}}</p>
    <p><span class="label">Quote:</span> {{this.quote}}</p>
    <p><span class="label">Author:</span> {{this.author}}</p>

    <button data-id="{{this.id}}" class="delquote">Delete</button>

    <a href="/{{this.id}}">Update this quote</a>
  </li>
  {{/each}}
</ul>


<h2>Add a Quote</h2>

<form class="create-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="quo">Quote:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Quote</button>
</form> --
{{!-- }} --}}


<div class="container">
  <div class="jumbotron bg-secondary text-light">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Burger Tiempo!</h1>
        <h5>... yes I know that a BurgerTime reference is a bit dated, and that "Tiempo" is a different sort of "time" than "Hora"</h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 text-center m-2">
      <p>Choose one of our delicious burgers!</p>
      {{#each burger_data}}
      {{#unless this.eaten}}
      <div class="card m-3 p-3 bg-light">
        <div>
          <h4>{{this.burger_name}} <hr></h4>
        </div>
        <div class=" text-center">
          <form action="/api/update?_method=PUT" method="post" class="">
            <input type="hidden" name="burger_id" type="text" value="{{this.id}}">

            <button type="submit" class="btn btn-danger m-2">This is the one... my burger of choice!</button>
          </form>
        </div>
      </div>
      {{/unless}}
      {{/each}}
    </div>

<div class="col-2"></div>


    <div class="col-4 text-center m-2">
      <p>We're sorry to say we're out of: </p>
      {{#each burger_data}}
      {{#if this.eaten}}
      <div class="card m-1 p-3 bg-light">
        {{!-- <input type="text" class="form-control" placeholder="{{this.id}}> {{this.burger_name}}"> --}}
        <div>
          <h5>{{this.burger_name}} </h5>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light card border-primary p-3 form-group">
      <form action="/api/create" method="post">
        <br>
        <br>
        <h2>Have a burger you'd like to add to our menu?!</h2>
        <input type="text" name="burger_name" class="form-control" value="">
        <button type="submit" class="btn btn-secondary">SUBMIT</button>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
</div>